body{
    margin: 20px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(187,187, 187);
    height: 50px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li{
    width: 80px;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

#hola{
    background-color: rgb(84, 84, 84);
    height: 50px;
}